body {
	background: #2e2e2e;
	color: white;
	max-width: 100vw;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.nav {
	margin-top: 80px;
}
.nav__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.nav__item {
	display: block;
	cursor: pointer;
}
.nav__item:hover {
	text-decoration: underline;
}

.block-cover {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.box {
	padding: 20px;
}

.box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-all {
	color: white;
}
.text-monitors {
	color: tomato;
}
.text-notebooks {
	color: pink;
}
.text-electro {
	color: green;
}
.text-tools {
	color: yellow;
}

.electro {
	border: 2px solid green;
}

.monitors {
	border: 2px solid tomato;
}

.notebooks {
	border: 2px solid pink;
}

.tools {
	border: 2px solid yellow;
}

.hidden {
	display: none;
}
.active {
	transform: scale(1.2);
}